<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>
<div class="container">
  <h2>You currently have <%= pluralize(@plants.count, 'plant') %></h2>
  <div class="row">
    <% @plants.each do |plant| %>
      <div class="card-category">
        <%= plant.name %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Add a plant</h3>
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.submit 'Add', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
